<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Phoenix & Elm landing page</title>
    <script async src="https://use.fontawesome.com/2aa13a4a25.js"></script>
    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="landing-page">
    <%= render(@view_module, @view_template, assigns) %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
